altgraph==0.17.4
iniconfig==2.0.0
packaging==24.2
pillow==11.1.0
pluggy==1.5.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.0
pytest==8.3.4
pytube==15.0.0
setuptools==75.8.0
yt-dlp==2025.1.26
-e git+https://github.com/columbladee/yt-url-to-gif.git@2020e646f2002e622356f3ef4c9a588ab38f9a2d#egg=yt_url_to_gif
